@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background-image: url("/img/pizzatemplate.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
}

.topo {
    padding-top: 10px;
    background-color: red;
}

.logo {
    width: 50px;
}

.nav {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.menu {
    background-color: rgb(255, 230, 2);
    font-size: 30px;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    display: none;
    flex-direction: column;
}

.nav a {
    display: block;
}

@media (max-width: 1000px) {
    .nav {
        flex-wrap: wrap;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .nav a:not(:has(img)) {
        display: none;
    }
    
    .menu-toggle:checked + .menu {
        display: flex;
    }
}

.nav a:hover {
    color: rgb(255, 255, 255);
}

.pizzahub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 30vh;
}

.pizza {
    font-size: 16vh;
    color: red;
    margin-bottom: -5vh;
}

.hub {
    font-size: 16vh;
    color: white;
}

.pedido {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 5vh;
    padding: 15px;
    border-radius: 30px;
    background: yellow;
    color: rgb(0, 0, 0);
}

.pedido:hover {
    background: rgb(219, 209, 69);
}
.footer {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.relogio-container {
    display: flex;
    align-items: center;
}

.relogio {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.delivery {
    color: rgb(0, 0, 0);
}

.hrs {
    color: red;
}

@media (max-width: 1000px) {
    .pizzahub {
        margin: 10vh auto;
        text-align: center;
    }

    .pizza {
        font-size: 12vh;
        text-align: center;
        margin: 0 auto;
    }

    .hub {
        font-size: 12vh;
        text-align: center;
        margin: 0 auto;
    }

    .pedido {
        font-size: 3vh;
        text-align: center;
        margin: 0 auto;
    }
}