*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background-image: url("/img/pizzatemplate.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
}

.topo {
    background-color: red;
    padding: 1vh;
}

.logo {
    width: 50px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a:hover {
    color: rgb(255, 255, 255);
}

.pizzahub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 30vh;
}

.pizza {
    font-size: 16vh;
    color: red;
    margin-bottom: -5vh;
}

.hub {
    font-size: 16vh;
    color: white;
}

.pedido {
    font-size: 4vh;
    padding: 15px;
    border-radius: 30px;
    background: yellow;
    color: rgb(0, 0, 0);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.relogio-container {
    display: flex;
    align-items: center;
}

.relogio {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.relogio-container h1 {
    margin-left: 10px; /* Espaçamento entre a imagem e o texto */
}