@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/background_pizza.png);
    background-color: rgb(46, 44, 44);
    background-repeat: repeat-y;
}

a {
    text-decoration: none;
    color: inherit;
}

.topo {
    background-color: red;
    padding: 1vh;
}

.logo {
    width: 50px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a:hover {
    color: rgb(255, 255, 255);
}

.pedido{
    display: flex;
    justify-content: space-around;
}

.compras {
    top: 15%;
    position: relative;
    background: rgba(193, 193, 193, 0.70);
    width: 600px;
    height: 700px;
    align-items: center;
}

.carrinho {
    background-color: red;
    padding: 10px;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: Staatliches, Arial, Helvetica, sans-serif; 
}

.logocart {
    width: 50px;
    float: left; /* Posiciona a imagem à esquerda do texto */
    margin: 7px;
    margin-right: 20px;
}

.calabresa {
    margin: 15px;
    width: 150px;
    background: rgba(193, 193, 193, 0.70);
}

.entrega {
    position: relative;
    background: rgba(193, 193, 193, 0.70);
    width: 600px;
    height: 700px;
    align-items: center;
    top: 15%;
}

form {
    text-align: center;
    font-size: 20px;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 150px;
    margin-right: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
}

.forma {
    background-color: red;
    padding: 10px;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: Staatliches, Arial, Helvetica, sans-serif; 
}

.pedir{
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: 15px;
    right: 10px;
    left: 25px;
    border: 0px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
}

.pedir:hover{
    background-color: rgb(160, 160, 40);
}

@media screen and (max-width: 1250px) {
    .pedido{
        display: block;
    }   

    .pedido{
        position: relative;
        width: 100%;
        left: calc(50% - 150px);
    }

    .pedido {
        margin-top: 20px;
    }
}
